@media all and (max-width: 1000px) {
  .top-wrapper{
    background-position: right 40% bottom 0%;
  }


/* What we offer  */
  .offer-wrapper{
    height:auto;
  }

  .offers{
    display: flex;
    flex-wrap: wrap;
  }

  .offer{
    width:50%;
  }

  .offer img{
    width:90%;
  }

/* Cozy Space  */
.cozyspace2-wrapper{
  height:auto;
}

.cozyspace1-img,.cozyspace1-message{
  display: inline-block;
  vertical-align:middle;
}

.cozyspace1-img{

}

.cozyspace1-img img{
  width:400px;
}

.cozyspace1-message{
  margin:40px 0 0 100px;
  width:25%;
}

.cozyspace1-message h2{
  margin-bottom:0px;
}

.cozyspace1-message h3{
  margin-top:0px;
  display: inline-block;
  position: relative;
}

.cozyspace1-message h3:before {
  content: '';
  position: absolute;
  left: 19%;
  bottom: -18px; /*下線の上下位置調整*/
  display: inline-block;
  width: 30px; /*下線の幅*/
  height: 2px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #666666; /*下線の色*/
}

/* Cozy Space  */

.cozyspace1-img img{
  width:350px;
}

.cozyspace1-message{
  margin:0 0 0 80px;
  width:30%;
}

.cozyspace1-message h2{
  margin-bottom:0px;
}

.cozyspace1-message h3{
  margin-top:0px;
  display: inline-block;
  position: relative;
}

.box{
 display: flex;
 flex-wrap: wrap;
 margin:0 3% 0 3%;
}

.cozyspace2-wrapper img{
  width:350px;
}

.cozyspace2-message{
  width:30%;
  margin:0;
}

.cozyspace2-img{
  margin-left:80px;
}


}



@media all and (max-width: 650px) {

/* 共通  */

  body{
    width:100%;
  }

  header{
    width:100%;
  }

  p {
    font-size:14px;
  }



/* header  */
  .header-left{
    margin:15px 0 20px 30px;
  }

  .header-left img{
    width:40px;
  }

  .header-right{
    display:none;
  }

  .menu-icon{
  display:block;
}


/* main  */
  .top-wrapper{
    background-position: right 40% bottom 0%;
    padding: 250px 0px 500px 30px;
  }

  .main-title{
    padding:0;
    margin:0 0 100px 0;
  }

  .main-title h1{
    font-size:25px;
  }

/* About  */
  .contents-wrapper{
    margin-top:50px;
    padding:0 20px 0 20px;
  }

  .contents-wrapper p{
    font-size: 14px;
  }

/* What we offer  */
  .offer-wrapper{
    margin-top:50px;
  }

  .offers{
    display:block;
  }

  .offer{
    width:100%;
  }

  .offer p{
    margin-bottom:30px;
  }

  .offer img{
    width:100%;
  }

/* Brand Story */
  .brandstory-wrapper{
    background-position: right 60% bottom 0%;

  }

  .brandstory-wrapper h1{
    margin-top:180px;
  }

/* Cozy space */

  .cozyspace1-message{
    margin:0;
    width:100%;
    padding:0 20px 50px 20px;
  }

  .cozyspace1-img{
    margin: 0;
  }

  .cozyspace1-img img{
    width:100%;
  }

  .cozyspace2-wrapper{
    height: auto;
    margin-top: 100px;
    display:block;
  }

  .cozyspace2-message{
    margin: 0;
    padding:0 20px;
    width:100%;
  }

  .cozyspace2-img{
    margin: 0;
  }

  .cozyspace2-img img{
    width:100%;
  }

  .box{
    flex-direction: column;
  }

  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
  .order3 {
    order: 3;
  }
  .order4 {
    order: 4;
  }


/* Garally */
.garally-container{
  display: flex;
　flex-wrap: wrap;
  align-items:  flex-start;
  width:100%;
}
  
.garally-container img{
  width:100%;
}


/* Contact form */
input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);

  &.error {
    background: $red;
    color: #fff;
    &::placeholder {
      color: darken($red, 60%);
    }
  }
}

/* footer */
footer{

}

footer img{
  width:60px;
}

.footer-left{
  margin-left:40px;
}

.footer-right{
  padding-top:105px;
  margin-right:30px;
}

/* About page */

.about-wrapper{
  height:150px;
}

.explain-wrapper{
  height:auto;
  margin-left:0;
  padding:0 20px;
}

.explain-wrapper p{
  font-size:16px;
}



}
